<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_folders>
                        <media_gallery_assets>assets</media_gallery_assets>
                    </media_gallery_image_folders>
                </allowed_resources>
            </media_storage_configuration>
        </system>
        <gc_cms>
            <general>
                <product_route>/p/</product_route>
            </general>
        </gc_cms>
    </default>
</config>
